<div class="demo-page-header">
  <mat-toolbar class="mat-elevation-z4 mat-medium" color="primary">
    Angular JSON Schema Form
  </mat-toolbar>
</div>

<div class="header-content" style="padding-left: '45px';">
    <span class="menu-label" style="padding-left: 30px;">Select Form Type: </span>
    <button mat-raised-button
      color="primary"
      [matMenuTriggerFor]="exampleMenu">
      <mat-icon>menu</mat-icon> {{selectedSetName}} {{selectedExampleName}}
    </button>
    <mat-menu #exampleMenu="matMenu" class="example-menu">
      <button mat-menu-item class="mat-medium"
        *ngFor="let example of examples['JSON-Schema'].schemas"
        (click)="loadSelectedExample('JSON-Schema', '', example.file, example.name)">
        {{example.name}}
      </button>
    </mat-menu>
</div>
<br><br>
<div fxLayout="row" fxLayoutAlign="space-around start"
  fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="flex-start center">

  <mat-card fxFlex="0 0 calc(50% - 12px)">
      <div>
        Submitted data
        <pre [class.data-good]="prettySubmittedFormData !== 'null'">{{prettySubmittedFormData}}</pre>
      </div>
  </mat-card>

  <mat-card fxFlex="0 0 calc(50% - 12px)">
    <h4 class="default-cursor" (click)="toggleVisible('form')">
      {{visible.form ? '▼' : '▶'}} Generated Form
    </h4>
    <div *ngIf="visible.form" class="json-schema-form" [@expandSection]="true">
      <div *ngIf="!formActive">{{jsonFormStatusMessage}}</div>

      <!-- This is the form! -->
      <json-schema-form
        *ngIf="formActive"
        loadExternalAssets="true"
        [form]="jsonFormObject"
        [options]="jsonFormOptions"
        [framework]="selectedFramework"
        (onSubmit)="onSubmit($event)"
        (isValid)="isValid($event)"
        (validationErrors)="validationErrors($event)">
      </json-schema-form>

    </div>
  </mat-card>

</div>
