// * { border: 1px solid red !important; }
@import '~@angular/material/theming';
@include mat-core();
$demo-app-primary: mat-palette($mat-red);
$demo-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$demo-app-warn:    mat-palette($mat-red);
$demo-app-theme:   mat-light-theme($demo-app-primary, $demo-app-accent, $demo-app-warn);
@include angular-material-theme($demo-app-theme);

$font-family: 'Roboto', 'Noto', 'Helvetica Neue', sans-serif;
$row-height: 56px;
$border-color: solid #f3f3f3; /* Light grey */

mat-toolbar {
  &.mat-medium {
    min-height: $row-height;
    mat-toolbar-row { height: $row-height; }
  }
}

.loader {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 16px $border-color;
  border-top: 16px solid crimson; /* Red */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250) !important;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}

.demo-page-header {
  background-color: mat-color($demo-app-primary, lighter);
  margin-bottom: 12px;
  .header-content {
    font-family: $font-family;
    line-height: 1.4em;
    padding: 12px;
    .menu-label {
      margin-right: 12px;
      font-weight: bold;
    }
  }
}

.ace_active-line { background: none !important; }

.avoidwrap { display:inline-block; }

.data-good { background-color: #dfd; }

.data-bad { background-color: #fcc; }

.default-cursor:hover { cursor: default; }

.check-row { margin-top: 8px; }

.cdk-overlay-container .cdk-overlay-pane .mat-menu-panel { max-width: 560px; }

.debug { border: 1px solid crimson !important; }

.mat-input-container.mat-form-field { width: 100%; }
